*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    grid-template-columns: (15% 70% 15%);
    grid-auto-rows: minmax(100px, auto);
    grid-area: 
    "hd hd hd"
    "as mn as2"
    "ft ft ft";
}
.listing{
    display: grid;
    grid-area: mn;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-auto-rows: minmax(100px,auto);
    list-style: none;
    gap: 10px;
}
header{
    grid-area: "hd";
    background-color: aqua;
    min-height: 100px;
}
.listing li{
    border: 2px solid yellow;
    border-radius: 5px;
    display: flex;
     /* Je kiest hoe het eruit moet zien. column of row is dus naast elkaar en onder elkaar. Je hebt ook een reverse- */
    flex-direction: column;
}

.listing li h2{
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
    /* margin: 0px; */
}

.listing .cta{
    margin-top: auto;
    border-top: 2px solid orange;
    padding: 10px;
    text-align: center;
}

.listing .cta a{
    text-decoration: none;
    color: orange;
    font-size: 30px;
}

.listing .body{
    padding: 10px;
    /* Extra geoefend. */
    min-height: 200px;
}

.as {
    grid-area: as;
}

.as2{
    grid-area: as2;
}