* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* background-color: blueviolet; */
}

.wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "hd hd hd"
        "as mn as2"
        "ft ft ft";
}

.listing {
    display: grid;
    grid-area: mn;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    list-style: none;
    gap: 10px;
    margin-top: 25px;
}

header {
    grid-area: hd;
   border: 2px solid orange;
   max-height: 50px;     
   display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.listing li {
    border: 2px solid yellow;
    border-radius: 5px;
    display: flex;
    /* Je kiest hoe het eruit moet zien. column of row is dus naast elkaar en onder elkaar. Je hebt ook een reverse- */
    flex-direction: column;
}

.listing li h2 {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
    /* margin: 0px; */
}

.listing .cta {
    margin-top: auto;
    border-top: 2px solid orange;
    padding: 10px;
    text-align: center;
}

.listing .cta a {
    text-decoration: none;
    color: orange;
    font-size: 30px;
}

.listing .body {
    padding: 10px;
    /* Extra geoefend. */
    min-height: 200px;
}
.as2 {
    grid-area: as2;
    border: 2px solid orange;
}

.as {
    grid-area: as;
    border: 2px solid orange;
}

footer{
    grid-area:ft;
    border: 2px solid orange;
    margin-top: 10px;

}

@media screen and (max-width: 425px) {
    .wrapper{    
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
            "hd"
            "as"
            "mn"
            "ft";
    }
.as{
display: flex;
justify-content: center;
align-items: center;
}
.as2 {
    display: none;
}
}



  @media screen and (min-width: 426px) and (max-width: 768px) {

    .wrapper{    
        display: grid;
        grid-template-columns: 10% 90%;
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
            "hd hd"
            "as mn"
            "ft ft";
    }

    .as2 {
        display: none;
    }

    .listing{
        margin-top: 50px;
        margin-left: 20px;
    }
  }